:root{
    --cor-azul:#2e3e6b;
    --cor-azul-1: #8396ce;
    --cor-azul-escuro: #01016d;
    --cor-azul-medio: #0e2461;
    --cor-azul-claro:#749ce2;
    --cor-prata:#d5d5d5;
    --cor-preto: #000;
    --cor-branca:#fff;
}